* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.forgotParabox {
    text-align: center;
    color: white;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Tittle XL */
    font-family: Magmawave Caps;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    /* line-height: 32px; */
    /* 100% */
    letter-spacing: 1px;
    width: 100%;
    padding: 0px 30px;
}

.enterOPTpara {
    color: black;
    font-weight: 800;
margin-top: 10px;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Paragrph L */
    font-family: Helvetica Neue LT Std;
    font-size: 13px;
    font-style: normal;

    width: 100%;
    /* padding-left: 31px; */
    /* margin-top: -10px; */
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
}
/* styles.css */
.custom-toast {
    height: 50px; /* or whatever height you want */
    /* Add any other styles you want to customize */
}

.forgotCard {
    padding-top: 25px !important;
}

.forgotPasswordForm {
    padding: 20px 30px !important;
}
.cancelOTP{
    margin-top: 25px !important;
}


.sendOPTSpan {
    font-family: 'Helvetica Neue LT Std Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;

    /* identical to box height, or 150% */

    letter-spacing: -0.3px;

    /* C5 */

    color: #fd5d5d;
}

.enterOPTpara2 {
    color: var(--c-5, #484848);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Paragrph L */
    font-family: Helvetica Neue LT Std;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.3px;
    margin-top: 5px;
    text-align: center;
}

.containerOTP {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 24px;
}





.userInputOTP {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}






.inputOTP {
    width: 60.048px;          /* 4.17 x 14.4 */
    height: 60.048px;         /* 4.17 x 14.4 */
    border: 1.152px solid #000000;  /* 0.08 x 14.4 */
    border-radius: 9.648px;   /* 0.67 x 14.4 */
    font-family: 'Helvetica Neue LT Std';
    font-style: normal;
    font-weight: 400;
    font-size: 24px !important;      /* 2.03 x 14.4 */
    leading-trim: both;
    text-edge: cap;
    display: flex;

    text-align: center;


    color: #000000;

}

@media (max-width: 1440px) {
.repeatPassBtn{
    margin-top: 10px !important;
}
.cancelOTP{
    margin-top: 15px !important;
}

}

@media (max-width: 1400px) {
    .GetOTPbtns{
    margin-top: 15px !important;
    }
    .forgotPasswordForm{
        padding: 18px  30px 25px !important;
    }
    .forgotCard{
        max-width: 349px !important;
    }
    .enterOPTpara {
        font-size: 12px;
    }
    .Submits{
        margin-top: 10px !important;
    }
    .forgotParabox{
        font-size: 24px;
    }

}



@media (max-width: 500px) {
    .inputOTP{
        height: 30px !important;
        font-size: 20px !important;
    }
    .forgotParabox{
        font-size: 19px !important;
    }
    .enterOPTpara{
        padding-right: 20px;
        font-size: 10px !important;
        padding-left: 20px !important;
        margin-top: 10px;
    }
}